body{
    background: #2d13bdb6;
    background: linear-gradient(340deg, rgba(177, 19, 189, 1) 32%, rgba(0, 0, 0, 1) 100%, rgba(82, 0, 122, 1) 10%);
    margin: 0;

}

a {
    text-decoration: none;
    color: white;
}

.parent{
    border: 3px solid purple;
    padding: 10px;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;           
    margin: 10px auto 0;  
    border-radius: 5px;
    position: sticky;
    top: 0;
    scroll-behavior: smooth;
}

.left-side,.right-side{
    display:flex;
    gap:px;
    color:white;
    grid-template-columns: repeat(5,1fr);
    scroll-behavior: smooth;
}

.left-side > div,.right-side > div{
    padding:10px;
    scroll-behavior: smooth;
     position: relative;
    font-size: 18px;
    transition: .5s ease
    
}

.column{
    border: 3px solid ;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 4px;
    background-color: black;
    padding: 250px;
    gap: 10px;
    flex: 1;
    display: flex;
    margin-top: 0;
    margin-left: 0%;
    margin-right: 0%;
    align-items: center;
    justify-content: space-around;
     background-repeat: no-repeat;
     background-size: cover;

    
}

.image{
    border-radius: 6px;
    display: block;
    line-height: 0;
     border:2px solid rgba(255,255,255,0.684)
}
.text{
  max-width: 500px;
  color: rgb(23, 6, 6);
  padding-left: 70px;
}